# Database
DB__Host=
DB__Port=5432
DB__Name=
DB__Username=
DB__Password=

# JWT
Jwt__Key=
Jwt__Issuer=portfolio_v2
Jwt__Audience=portfolio_v2_angular
Jwt__ExpirationInMinutes=60

# SMTP
Smtp__Host=
Smtp__Port=587
Smtp__Username=
Smtp__Password=
Smtp__FromEmail=
Smtp__FromName=
Smtp__EnableSsl=true

# App
AppUrl=